<% content_for :title, "Add a new issue" %>
<% content_for :subtitle, "Step by step explanation for adding issues" %>

<div class="pure-g-r">
<div class="pure-u-19-24">
<%= render 'form' %>
</div>
</div>
<%= link_to 'Back', issues_path %>
