<h1>Listing projects</h1>

<% if !@projects.empty? %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @projects %>
  </tbody>
</table>

<br>
<% end %>
<%= link_to 'New Project', new_program_project_path(params[:program_id]) %>
