<% content_for :title, "About us" %>


<style type="text/css">
<!--
#aboutUs header { text-align: center }

li { list-style-type: none; display: inline }

header { width: 100% }

section {
	background-color: white;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

footer {
	text-align: center;
}

footer nav ul {
	margin-left: auto;
	margin-right: auto;
}

article {
	padding: 10px;
}

-->
</style>


<section id="aboutUs">
	<header>
		<h1>About us</h1>
	</header>
	<article class="profile">
		<img src="#" style="width: 100px; height: 100px; float: left">
		<h1>Carlos</h1> blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah  
	</article>
	<article class="profile">
			<img src="#" style="width: 100px; height: 100px; float: right">
			
			<h1>Carlos</h1> blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah  Profile
			
		<article>
</section>


