<h1>Welcome to your Program Management dashboard - Managing <%= @programs %> programs</h1>

<h2>Organization</h2>

<%= link_to "New organization", new_organization_path %>
<br />
<%= link_to "View existing organizations", organizations_path %>
