<% content_for :title, "About us" %>


<style type="text/css">
<!--
#aboutUs header { text-align: center }

li { list-style-type: none; display: inline }

header { width: 100% }

section {
	background-color: white;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

footer {
	text-align: center;
}

footer nav ul {
	margin-left: auto;
	margin-right: auto;
}

article {
	padding: 10px;
}

-->
</style>


<section id="aboutUs">
	<header>
		<h1>What do we do?</h1>
	</header>
	Our mission statement is to enable program and project teams to successfully setup, run and complete  programs/projects on all scales by providing a best practice framework around which to structure and manage work and move towards a more collaborative future where relevant information is pervasive for all.

		<article>
			#The idea
			<p>There are vast repositories of knowledge out there which detail in considerable depth how to correctly manage a project. That's great. But whilst the high level phases are useful, how many people do you know who implement them in full. There is always pressure on time and costs and it is seldom possible to implement. Even after doing this, many people do not understand “why” they are doing something. They do it because they are told which means the information which is put input by that user is not as useful as it could be.</p>

			<p>Some people say, “that's fine but I've been setting projects up for years and I don't need this”. Airline pilots who have been working their entire careers as pilots to this day use checklists. There was recently an interesting study on the power of checklists in surgery where following a simple list cut down surgical accidents by x%. Checklists are there because in the world in which we live, the amount of information that we process on a day to day basis is so huge that any assistance we can provide should be taken.</p>

			<p>Imagine a system where you log on to create a program where you are the program manager and each step along the way you are prompted with what you need to do, and more importantly why it will add value for you. Imagine a system where information can be shared freely amongst all of your projects teams without the need for emails, where it is commonly viewable and you and your team can spend more time doing useful work. Imagine a system where you have graphical displays of your information and you can see instantly the health of your project, identifying any areas where particular focus is needed.</p>

			<p>That system is what we envisaged, and what we call int3rsection.</p>
			
		</article>
</section>


