<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Welcome to Program Management</title>
  <%= csrf_meta_tags %>
<script src="http://www.google.com/jsapi"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
<style type="text/css">
<!--
body {
    color: #777;
}

form {
	margin:0 auto;
	padding:14px;
	
	
	margin: 0 auto;
    max-width: 600px;
}

table {
	margin:0 auto;
	max-width: 800px;
}

input {
	width: 400px;
}

textarea {
	width: 400px;
	height: 120px;
}

/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}


-->
</style>
</head>
<body>
<div id="layout">
	<div id="main">
		<div class="header">
			<h1><%= yield(:title) %></h1>
			<h2><%= yield(:subtitle) %></h2>
		</div>
<%= yield %>
	</div>
</div>
</html>
